#
# scott@smemsh.net
# http://smemsh.net/src/.vim/
# http://spdx.org/licenses/GPL-2.0
#
##############################################################################

# first one loaded explicitly in vimrc, bootstraps rest in bundle/
#
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen

### TODO #####################################################################
#
## editing
# https://github.com/Lokaltog/vim-easymotion
# https://github.com/tomtom/tcomment_vim
#
## git
# https://github.com/airblade/vim-gitgutter
# https://github.com/mhinz/vim-signify
#
## statline
# https://github.com/bling/vim-airline
# https://github.com/itchyny/lightline.vim
# https://github.com/something/powerline
#
## syntax
# https://github.com/artoj/pgn-syntax-vim
#
### LATER ####################################################################
#
# https://github.com/majutsushi/tagbar
# https://github.com/tpope/vim-fugitive
# https://github.com/scrooloose/syntastic
#

### LIBS #####################################################################

# we need these sourced before the others so they go in lib/
# TODO: find a more clever way to do ordering using existing hierarchy
#
[submodule "lib/ingo-library"]
	path = lib/ingo-library
	url = http://github.com/vim-scripts/ingo-library

### LANG #####################################################################

# todo: this does not seem to work
# the plugin in the bundle dir does not seem to activate
# should give command: ":compiler clang"
#
[submodule "bundle/clang"]
	path = bundle/clang
	url = https://github.com/vim-scripts/clang.git

# todo: obsoleted by YouCompleteMe?
# todo: is this same: http://github.com/Rip-Rip/clang_complete
#
[submodule "bundle/clang-complete"]
	path = bundle/clang-complete
	url = https://github.com/vim-scripts/clang-complete.git
	ignore = untracked

### EDITING ##################################################################

# columnar alignment based on regexes, with helpful default maps
#
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git

# leading shifts (for indent level) use tabs, later ones
# (for alignment) will use spaces
#
[submodule "bundle/IndentTab"]
	path = bundle/IndentTab
	url = http://github.com/vim-scripts/IndentTab

# enables drawing ansi / ascii line art boxes, tables, etc
#
[submodule "bundle/DrawIt"]
	path = bundle/DrawIt
	url = https://github.com/vim-scripts/DrawIt
### SCM ######################################################################

# establishes windows and keys to compare multiple directory trees and
# select which to present in diffmode or make wholesale file selection
# (assists doing manual tree merges prior to mergetool usage)
#
[submodule "bundle/vim-dirdiff"]
	path = bundle/vim-dirdiff
	url = git://github.com/will133/vim-dirdiff

### VIM ######################################################################

# shows a trace of syntax highlighting stack, useful for debugging
# colorschemes
#
[submodule "bundle/vim-hilinks"]
	path = bundle/vim-hilinks
	url = https://github.com/kergoth/vim-hilinks

# converts gui-only colorschemes to have cterms (realtime or statically)
# note: not enabled by default in plugrc/csapprox
#
[submodule "bundle/csapprox"]
	path = bundle/csapprox
	url = https://github.com/godlygeek/csapprox

# configurable balanced-colorize for each nested level of parens
#
[submodule "bundle/rainbow"]
	path = bundle/rainbow
	url = http://github.com/luochen1990/rainbow

# gives vim enhanced (colors, keys, features) buf list and selection
#
[submodule "bundle/bufexplorer"]
	path = bundle/bufexplorer
	url = http://github.com/jlanzarotta/bufexplorer

# conceal embedded ansi escape sequences in the file being edited and
# duplicate intended colorization in viml over the intended region
#
[submodule "bundle/vim-plugin-AnsiEsc"]
	path = bundle/vim-plugin-AnsiEsc
	url = https://github.com/powerman/vim-plugin-AnsiEsc

# integration of vim windows with panes of external tool vifm
#
[submodule "bundle/vifm"]
	path = bundle/vifm
	url = https://github.com/vifm/vifm.vim

### COLORSCHEMES #############################################################

[submodule "colorscheme/jellybeans"]
	path = colorscheme/jellybeans
	url = http://github.com/nanotech/jellybeans.vim
[submodule "colorscheme/grb256"]
	path = colorscheme/grb256
	url = http://github.com/quanganhdo/grb256
[submodule "colorscheme/vim-distinguished"]
	path = colorscheme/vim-distinguished
	url = https://github.com/Lokaltog/vim-distinguished
[submodule "colorscheme/vim-railscast-theme"]
	path = colorscheme/vim-railscast-theme
	url = https://github.com/jpo/vim-railscasts-theme
[submodule "colorscheme/colorsbox"]
	path = colorscheme/colorsbox
	url = http://github.com/mkarmona/colorsbox
[submodule "colorscheme/vim-colors-solarized"]
	path = colorscheme/vim-colors-solarized
	url = http://github.com/altercation/vim-colors-solarized

#
