[submodule "bundle/clang"]
	path = bundle/clang
	url = https://github.com/vim-scripts/clang.git
[submodule "bundle/clang-complete"]
	path = bundle/clang-complete
	url = https://github.com/vim-scripts/clang-complete.git
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/vim-easy-align"]
	path = bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule "bundle/vim-golang"]
	path = bundle/vim-golang
	url = https://github.com/jnwhiteh/vim-golang.git
[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/vundle
